.container {
  max-width: 1300px;
  width: 100%;
  margin: auto;
  padding: 20px 20px;
  border-color: rgb(199, 34, 42);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}
section {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section h1 {
  justify-self: center;
  margin-bottom: 40px;
  color: #111;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-color: rgb(199, 34, 42);
}
.card {
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - -35px);
  width: 100%;
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 2px solid transparent;
  transition: 0.3s;
  align-items: center;
  border-color: rgb(199, 34, 42);
}
/* .card:hover {
    border-color: rgb(199, 34, 42);
  } */
.card h3 {
  font-size: 24px;
  color: rgb(199, 34, 42);
  margin-bottom: 20px;
}
.card .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 120px;
  width: 100%;
  background: rgb(199, 34, 42);
  border: none;
  outline: none;
  border-radius: 10px;
  height: 40px;
  margin-top: 20px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid rgb(199, 34, 42);
}
.card .btn:hover {
  color: rgb(199, 34, 42);
  background: transparent;
}
a {
  text-decoration: none;
}
@media (max-width: 969px) {
  section {
    padding: 30px 0px;
  }
  section h1 {
    font-size: 30px;
  }
  .card {
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
  }
}
@media (max-width: 767px) {
  .card {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
